// font colors
$font-color-default:#2c3841;
$font-color-alert:#f70000;

// scoreboard state backgrounds
$game-background-default:#fff;
$game-background-live:#ff3c0f;
$game-background-pick-made:#1185fb;
$game-background-pick-correct:#5ac414;
$game-background-pick-incorrect-transparent:rgba(255,255,255,0.1);
$game-background-pick-update-needed:#434343;
$game-background-warning:#e8d316;

// scoreboard state font colors
$game-font-color-default:#2c3841;
$game-font-color-active:#fff;
$game-font-color-pick-incorrect:rgba(255,255,255,0.5);

$bracket-overlay-background:#0a3354;